<section class="burger">
  <div class="burger-container">
    <div class="burger-head">
      <div class="logo">
        <a href="index.html">
          <svg height="63" width="150">
            <use href="./img/logo.svg"></use>
          </svg>
        </a>
      </div>

      <svg width="24" height="24" class="btn-close">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </div>
    <div class="burger-content">
      <ul class="burger-menu">
        <li class="burger-menu-item">
          <a href="#desert-list" class="burger-menu-link">
            <p class="menu-text">Солодощі</p>
          </a>
        </li>
        <li class="burger-menu-item">
          <a href="#about-us" class="burger-menu-link">
            <p class="menu-text">Про нас</p>
          </a>
        </li>
        <li class="burger-menu-item">
          <a href="#feedback" class="burger-menu-link">
            <p class="menu-text">Відгуки</p>
          </a>
        </li>
        <li class="burger-menu-item">
          <a href="#faq" class="burger-menu-link">
            <p class="menu-text">Часті питання</p>
          </a>
        </li>
      </ul>
      <button class="button-menu">
        <a href="#desert-list"> <p>До покупок</p></a>
      </button>
    </div>
  </div>
</section>
