<section class="burger">
  <div class="container burger-container">
    <div class="burger-head">
      <div class="logo">
        <a href="index.html">
          <svg><use href="/img/logo.svg"></use></svg>
        </a>
      </div>

      <svg width="24" height="24" class="btn-close">
        <use href="/img/sprite.svg#close"></use>
      </svg>
    </div>
    <div class="burger-content">
      <ul class="burger-menu">
        <li class="burger-menu-item">
          <a href="#" class="burger-menu-link">
            <p class="menu-text">Солодощі</p>
          </a>
        </li>
        <li class="burger-menu-item">
          <a href="#" class="burger-menu-link">
            <p class="menu-text">Про нас</p>
          </a>
        </li>
        <li class="burger-menu-item">
          <a href="#" class="burger-menu-link">
            <p class="menu-text">Відгуки</p>
          </a>
        </li>
        <li class="burger-menu-item">
          <a href="#faq" class="burger-menu-link">
            <p class="menu-text">Часті питання</p>
          </a>
        </li>
      </ul>
      <button class="button-menu">
        <p>До покупок</p>
      </button>
    </div>
  </div>
</section>
