<section class="burger">
  <div class="container burger-container">
    <div class="burger-head">
      <div class="logo">
        <svg><use href="/img/logo.svg"></use></svg>
      </div>
      <a class="btn-close">
        <svg width="24" height="24">
          <use href="/img/sprite.svg#close"></use>
        </svg>
      </a>
    </div>
    <div class="burger-content">
      <ul class="burger-menu">
        <li class="burger-menu-item">
          <a href="#" class="menu-link">
            <p class="menu-text">Солодощі</p>
          </a>
        </li>
        <li class="burger-menu-item">
          <a href="#" class="menu-link">
            <p class="menu-text">Про нас</p>
          </a>
        </li>
        <li class="burger-menu-item">
          <a href="#" class="menu-link">
            <p class="menu-text">Відгуки</p>
          </a>
        </li>
        <li class="burger-menu-item">
          <a href="#faq" class="menu-link">
            <p class="menu-text">Часті питання</p>
          </a>
        </li>
      </ul>
      <button class="button-menu">
        <a href="#"><p>До покупок</p></a>
      </button>
    </div>
  </div>
</section>
