<section id="faq" class="faq-section">
  <div class="container faq-container">
    <h2>Часті питання</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <p class="faq-title">1. Які способи оплати ви приймаєте?</p>
        <button class="faq-acordion-btn">
          <svg width="32" height="32">
            <use href="./img/sprite.svg#keyboard_arrow_down"></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item">
        <p class="faq-title">2. Чи є у вас доставка?</p>
        <button class="faq-acordion-btn">
          <svg width="32" height="32">
            <use href="./img/sprite.svg#keyboard_arrow_down"></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item">
        <p class="faq-title">3. Як швидко здійснюється доставка?</p>
        <button class="faq-acordion-btn">
          <svg width="32" height="32">
            <use href="./img/sprite.svg#keyboard_arrow_down"></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item">
        <p class="faq-title">4. Чи можна забрати замовлення самостійно?</p>
        <button class="faq-acordion-btn">
          <svg width="32" height="32">
            <use href="./img/sprite.svg#keyboard_arrow_down"></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item">
        <p class="faq-title">
          5. Чи пропонуєте ви десерти для людей з особливими дієтичними
          потребами (безглютенові, безлактозні, веганські)?
        </p>
        <button class="faq-acordion-btn">
          <svg width="32" height="32">
            <use href="./img/sprite.svg#keyboard_arrow_down"></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item">
        <p class="faq-title">
          6. Як я можу зробити замовлення на індивідуальний торт?
        </p>
        <button class="faq-acordion-btn">
          <svg width="32" height="32">
            <use href="./img/sprite.svg#keyboard_arrow_down"></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item">
        <p class="faq-title">
          7. Чи можна змінити або скасувати замовлення після його оформлення?
        </p>
        <button class="faq-acordion-btn">
          <svg width="32" height="32">
            <use href="./img/sprite.svg#keyboard_arrow_down"></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item">
        <p class="faq-title">8. Який термін зберігання ваших десертів?</p>
        <button class="faq-acordion-btn">
          <svg width="32" height="32">
            <use href="./img/sprite.svg#keyboard_arrow_down"></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item">
        <p class="faq-title">
          9. Чи є у вас програма лояльності або знижки для постійних клієнтів?
        </p>
        <button class="faq-acordion-btn">
          <svg width="32" height="32">
            <use href="./img/sprite.svg#keyboard_arrow_down"></use>
          </svg>
        </button>
      </li>
      <li class="faq-list-item">
        <p class="faq-title">
          10. Що робити, якщо у мене є скарга або пропозиція?
        </p>
        <button class="faq-acordion-btn">
          <svg width="32" height="32">
            <use href="./img/sprite.svg#keyboard_arrow_down"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
