<section id="faq" class="faq-section">
  <div class="container faq-container">
    <h2 class="heading-2">Часті питання</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <div class="faq-list-item-thumb">
          <p class="faq-item-title">1. Які способи оплати ви приймаєте?</p>
          <button
            type="button"
            class="faq-acordion-btn"
            aria-label="Розгорнути вкладку"
          >
            <svg width="32" height="32">
              <use href="./img/sprite.svg#keyboard_arrow_down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-accordion">
          Ми приймаємо оплату онлайн банківськими картками Visa та Mastercard,
          через платіжні системи Apple Pay та Google Pay, а також готівкою
          кур'єру при отриманні замовлення.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-item-thumb">
          <p class="faq-item-title">2. Чи є у вас доставка?</p>
          <button type="button" class="faq-acordion-btn">
            <svg width="32" height="32">
              <use href="./img/sprite.svg#keyboard_arrow_down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-accordion">
          Так, ми здійснюємо доставку по всьому місту. Вартість та умови
          доставки залежать від вашого району, деталі можна уточнити при
          оформленні замовлення.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-item-thumb">
          <p class="faq-item-title">3. Як швидко здійснюється доставка?</p>
          <button
            type="button"
            class="faq-acordion-btn"
            aria-label="Розгорнути вкладку"
          >
            <svg width="32" height="32">
              <use href="./img/sprite.svg#keyboard_arrow_down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-accordion">
          Зазвичай доставка займає від 60 до 90 хвилин з моменту підтвердження
          замовлення. У пікові години час доставки може бути збільшений, про що
          ми вас обов'язково повідомимо.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-item-thumb">
          <p class="faq-item-title">
            4. Чи можна забрати замовлення самостійно?
          </p>
          <button
            type="button"
            class="faq-acordion-btn"
            aria-label="Розгорнути вкладку"
          >
            <svg width="32" height="32">
              <use href="./img/sprite.svg#keyboard_arrow_down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-accordion">
          Так, ви можете забрати своє замовлення самостійно за адресою [Вказати
          адресу самовивозу] у робочі години магазину.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-item-thumb">
          <p class="faq-item-title">
            5. Чи пропонуєте ви десерти для людей з особливими дієтичними
            потребами (безглютенові, безлактозні, веганські)?
          </p>
          <button
            type="button"
            class="faq-acordion-btn"
            aria-label="Розгорнути вкладку"
          >
            <svg width="32" height="32">
              <use href="./img/sprite.svg#keyboard_arrow_down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-accordion">
          Ми постійно розширюємо наш асортимент. Наразі у нас є обмежений вибір
          безглютенових та безлактозних десертів. Будь ласка, перегляньте наш
          каталог або зв'яжіться з нами для отримання детальної інформації.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-item-thumb">
          <p class="faq-item-title">
            6. Як я можу зробити замовлення на індивідуальний торт?
          </p>
          <button
            type="button"
            class="faq-acordion-btn"
            aria-label="Розгорнути вкладку"
          >
            <svg width="32" height="32">
              <use href="./img/sprite.svg#keyboard_arrow_down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-accordion">
          Для замовлення індивідуального торта, будь ласка, зв'яжіться з нашим
          менеджером за телефоном [Вказати номер телефону] або залиште заявку на
          сайті. Ми обговоримо всі деталі дизайну, начинки та терміни виконання.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-item-thumb">
          <p class="faq-item-title">
            7. Чи можна змінити або скасувати замовлення після його оформлення?
          </p>
          <button
            type="button"
            class="faq-acordion-btn"
            aria-label="Розгорнути вкладку"
          >
            <svg width="32" height="32">
              <use href="./img/sprite.svg#keyboard_arrow_down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-accordion">
          Якщо вам потрібно змінити або скасувати замовлення, будь ласка,
          негайно зв'яжіться з нами за телефоном. Можливість внесення змін
          залежить від етапу, на якому знаходиться ваше замовлення.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-item-thumb">
          <p class="faq-item-title">
            8. Який термін зберігання ваших десертів?
          </p>
          <button
            type="button"
            class="faq-acordion-btn"
            aria-label="Розгорнути вкладку"
          >
            <svg width="32" height="32">
              <use href="./img/sprite.svg#keyboard_arrow_down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-accordion">
          Термін зберігання десертів залежить від їхнього типу та інгредієнтів.
          Зазвичай десерти рекомендується вживати протягом 24-72 годин. Точна
          інформація про термін зберігання вказана на упаковці кожного виробу.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-item-thumb">
          <p class="faq-item-title">
            9. Чи є у вас програма лояльності або знижки для постійних клієнтів?
          </p>
          <button
            type="button"
            class="faq-acordion-btn"
            aria-label="Розгорнути вкладку"
          >
            <svg width="32" height="32">
              <use href="./img/sprite.svg#keyboard_arrow_down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-accordion">
          Так, ми цінуємо наших постійних клієнтів! Деталі нашої програми
          лояльності та діючих акцій ви можете знайти на окремій сторінці нашого
          сайту або уточнити у менеджера.
        </p>
      </li>
      <li class="faq-list-item">
        <div class="faq-list-item-thumb">
          <p class="faq-item-title">
            10. Що робити, якщо у мене є скарга або пропозиція?
          </p>
          <button
            type="button"
            class="faq-acordion-btn"
            aria-label="Розгорнути вкладку"
          >
            <svg width="32" height="32">
              <use href="./img/sprite.svg#keyboard_arrow_down"></use>
            </svg>
          </button>
        </div>
        <p class="faq-accordion">
          Ми завжди раді зворотному зв'язку! Якщо у вас виникли питання, скарги
          або пропозиції, будь ласка, напишіть нам на електронну пошту [Вказати
          email] або зателефонуйте. Ваша думка допомагає нам ставати кращими.
        </p>
      </li>
    </ul>
  </div>
</section>
