<section class="feedback-">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-text">Найкращі десерти, які я коли-небудь куштував!</p>
    <ul class="feedbacklist"></ul>
    <button class="feedback-slider-btn prev" aria-label="Попередній слайд">
      <svg
        width="24"
        height="24"
        aria-hidden="true"
        class="feedback-slider-icon"
      >
        <use href="/images/sprite.svg#arrow_back"></use>
      </svg>
    </button>
    <button class="feedback-slider-btn next" aria-label="Наступний слайд">
      <svg
        width="24"
        height="24"
        aria-hidden="true"
        class="feedback-slider-icon"
      >
        <use href="/images/sprite.svg#arrow_forward"></use>
      </svg>
    </button>
  </div>
</section>
