<section class="feedback-section" id="feedback">
  <div class="container feedback-container">
    <h2 class="heading-2 feedback-title">Відгуки клієнтів</h2>
    <p class="feedback-text">
      Дізнайтеся, що кажуть наші задоволені клієнти...
    </p>
    <div class="swiper feedback-swiper">
      <ul class="swiper-wrapper js-feedback-list"></ul>
    </div>
    <div class="feedback-swiper-control">
      <div class="swiper-pagination"></div>
      <div class="feedback-swiper-nav">
        <button class="feedback-swiper-btn-prev" aria-label="Попередній слайд">
          <svg
            width="24"
            height="24"
            aria-hidden="true"
            class="feedback-swiper-icon"
          >
            <use href="/img/sprite.svg#arrow_back"></use>
          </svg>
        </button>
        <button class="feedback-swiper-btn-next" aria-label="Наступний слайд">
          <svg
            width="24"
            height="24"
            aria-hidden="true"
            class="feedback-swiper-icon"
          >
            <use href="/img/sprite.svg#arrow_forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
