<section class="header-section">
  <div class="container header_container">
    <div class="mobile-menu">
      <div class="logo">
        <a href="index.html">
          <svg height="63" width="150">
            <use href="./img/logo.svg"></use>
          </svg>
        </a>
      </div>

      <svg width="24" height="24" class="burger-icon">
        <use href="./img/sprite.svg#menu"></use>
      </svg>
    </div>

    <div class="menu-content">
      <div class="logo">
        <a href="index.html">
          <svg height="63" width="150">
            <use href="./img/logo.svg"></use></svg
        ></a>
      </div>
      <ul class="menu">
        <li class="menu-item">
          <a href="#desert-list" class="menu-link">
            <p class="menu-text">Солодощі</p>
          </a>
        </li>
        <li class="menu-item">
          <a href="#about-us" class="menu-link">
            <p class="menu-text">Про нас</p>
          </a>
        </li>
        <li class="menu-item">
          <a href="#feedback" class="menu-link">
            <p class="menu-text">Відгуки</p>
          </a>
        </li>
        <li class="menu-item">
          <a href="#faq" class="menu-link">
            <p class="menu-text">Часті питання</p>
          </a>
        </li>
        <li class="menu-item">
          <button class="button-menu">
            <a href="#desert-list"> <p>До покупок</p></a>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
