<div class="backdrop order-backdrop" data-order-backdrop>
  <div class="order-modal" data-order-modal>
    <button class="order-close-btn" data-order-close>
      <svg width="20" height="20">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="order-title">Оформлення замовлення</h2>

    <form class="order-form" data-order-form>
      <!-- NAME -->
      <div class="order-field">
        <input
          type="text"
          name="name"
          class="order-input floating-input"
          placeholder=" "
        />
        <label class="floating-label">Ім’я</label>
      </div>

      <!-- PHONE -->
      <div class="order-field">
        <input
          type="tel"
          name="phone"
          class="order-input floating-input"
          placeholder=" "
        />
        <label class="floating-label">Телефон</label>
      </div>

      <!-- COMMENT -->
      <label class="order-label">
        <span class="order-label-text">Коментар</span>
        <textarea name="comment" class="order-textarea"></textarea>
      </label>

      <!-- HIDDEN dessertId -->
      <input type="hidden" name="dessertId" />

      <button type="submit" class="order-submit-btn">Замовити</button>
    </form>
  </div>
</div>
