<section class="popular-products section">
  <div class="container">
    <h2 class="popular-title">Наші бестселлери</h2>

    <div class="swiper popular-swiper">
      <ul class="swiper-wrapper" id="popular-list"></ul>

      <div class="popular-controls">
        <div class="popular-pagination"></div>

        <div class="nav-wrapper">
          <button
            type="button"
            class="popular-swiper-button-prev"
            aria-label="Попередній слайд"
          >
            <svg width="24" height="24">
              <use href="./img/sprite.svg#arrow_back"></use>
            </svg>
          </button>

          <button
            type="button"
            class="popular-swiper-button-next"
            aria-label="Наступний слайд"
          >
            <svg width="24" height="24">
              <use href="./img/sprite.svg#arrow_forward"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
