.about-us-section-title {
    margin-top: 64px;
    margin-bottom: 24px;
    text-align: center;
    line-height: 120%;
    letter-spacing: -0.01em;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
}

.about-us-section-text {
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;
}
.about-us-list {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.about-us-image {
    border-radius: 16px;
}