.feedback-section {
  padding: 64px 0 80px;
  background: var(--color-scheme-1-background);
}

.feedback-container {
  position: relative;
}

.feedback-title {
  margin-bottom: 24px;
}

.feedback-text {
  margin-bottom: 80px;
  font-size: 18px;
  text-align: center;
}

.feedback-item-rate .rating {
  justify-content: start;
}

.js-feedback-list {
  margin-bottom: 32px;
}
.js-feedback-list .feedback-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 335px;
  height: 208px;
  border: 2px solid var(--color-scheme-1-border);
  border-radius: 16px;
  padding: 32px;
}

.feedback-item-rate {
  margin-bottom: 24px;
}

.feedback-item-description {
  font-size: 18px;
  font-weight: 400;
}

.feedback-item-author {
  font-weight: 600;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .js-feedback-list {
    margin-bottom: 62px;
  }

  .js-feedback-list .feedback-item {
    height: 233px;
    padding: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .feedback-section {
    padding: 80px 0;
  }
  .js-feedback-list .feedback-item {
    padding: 32px;
  }
}
