.header-section {
  width: 100%;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.logo {
  width: 150px;
  height: 64px;
}

.burger-btn {
  background-color: transparent;
  border-color: transparent;
}

.mobile-menu {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: none;
  @media (max-width: 767px) {
    display: flex;
  }
}

.menu-content {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  @media (min-width: 768px) {
    display: flex;
    gap: 36px;
  }
  @media (min-width: 1440px) {
    display: flex;
    margin: 0 auto;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (min-width: 768px) {
    gap: 16px;
  }
  @media (min-width: 1440px) {
    gap: 32px;
  }
}

.menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  border-bottom: 1px solid transparent;
  transition:
    color 0.3s ease,
    padding 0.3s ease,
    border-bottom 0.3s ease;
}
.menu-link:hover,
.menu-link:focus {
  border-bottom: 1px solid #080c0c;
  padding: 0 0 5px 0;
}
.menu-link:active {
  color: var(--color-wewak);
  text-decoration: underline;
  border: none;
}
